# Neighborhoods in Toronto

### Importing libraries we are going to use

In [1]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen

### Getting the data in html format from Wikipedia URL

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')

### Finding the format table in the html called soup

In [3]:
Toronto_tables = soup.find_all('table')

### Getting the values from the table Toronto_tables, storaging in three lists: PostalCode, Borough and Neighborhood

In [9]:
PostalCode = []
Borough = []
Neighborhood = []

for table in Toronto_tables:
    rows = table.find_all('tr')
    
    for row in rows:
        cells = row.find_all('td')
        
        
        if len(cells) == 3:
            PostalCode_n = cells[0]
            PostalCode.append(PostalCode_n.text.strip())
            
            Borough_n = cells[1]
            Borough.append(Borough_n.text.strip())
            
            Neighborhood_n = cells[2]
            Neighborhood.append(Neighborhood_n.text.strip())

### Converting the three lists in a DataFrame called df1

In [34]:
df1 = pd.DataFrame({'PostalCode':PostalCode, 'Borough': Borough,'Neighborhood':Neighborhood})
df1.head(15)

   PostalCode           Borough                                 Neighborhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge
10        M2B      Not assigned                                 Not assigned
11        M3B        North York                                    Don Mills
12        M4B         East York              Parkview Hill, Woodbine Gardens
13        M5B  Downtown Toronto                     Garden District, Ryerson
14        M6B        North York                                    Glencairn

### Looking for a value 'Not assigned' in Neighborhood where in Borough is different to 'Not assigned'

In [31]:
df1[(df1['Borough']!='Not assigned') & (df1['Neighborhood']=='Not assigned')]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

### Making a new data frame without the value 'Not assigned' in column 'Borough'

In [16]:
df_assigned = df1[df1['Borough']!='Not assigned']

### Looking for values 'Not assigned' in 'Neighorhood' in the new dataframe

In [32]:
df_assigned[df_assigned['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

### Showing the df_assigned dataframe

In [40]:
df_assigned

,PostalCode,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

### The shape of the clean dataframe called df_assigned is:

In [33]:
df_assigned.shape

(103, 3)